.navbar-brand{
    font-family: viga;
    font size: 32px;
    
    

}

.nav-link{
    text-transform: uppercase;
    margin-right: 30px;
    color: aliceblue;
    }


.jumbotron{
    background-image: url(IMG/gambarcontoh3.jpg);
    background-size: cover;
    height: 640px;
    margin-top: -75px;
}

.jumbotron .display-4{
    text-align: center;
    margin-top: 150px;
    text-align: center;
    margin-top: 150px;
    color: aliceblue;
}

.jumbotron2{
    margin-top: 100px;

}

.about{
    margin-top: 100px;
}

.materi{
    margin-top: 100px;
}

